.error{
    color:red;
}

.bundle-box{
    border: solid 1px grey; margin:5px; float:left; padding:5px; text-align:center;
}

.bundle-box img{
    height:70px;
    margin: 0 auto;
}

.price b{
    color: green;
}

#create-dialog{
    padding: 10px;
}

.card-box{
    border: solid 1px grey; margin:5px; float:left; padding:5px; text-align:center;
    height: 450px;
    width: 200px;
}

.card-box-market{
    height: 450px;
}

.card-box:hover{
    background-color: khaki;
}


.card-box .form-control{
    margin-bottom: 5px;
}

.card-box-wowner{
    height: 550px;
}

.card-title{
    height: 14%;
    margin-top: 5%;
    font-weight: bold;
    font-size: large;
}

.card-title-wowner{
    height: 7%;
}

.card-box-market .card-title{
    height: 10%;
}

.card-seller{
    height: 10%;
}

.card-box img{
    height:50%;
    margin: 0 auto;
}

.card-price{
    height: 10%;
}

.card-buy-btn{
    height: 10%;
}

.alert-cards{
    background-color: #8accad;
    overflow: hidden; 
    border-radius: 10px;
}

.sellable{
    background-color: rgb(180, 255, 192);
}

.disabled{
    background-color: rgb(255, 221, 227);
    color: grey;
}

.disabled .price{
    color: grey;
}

.disabled .price b{
    color: grey;
}

tr:hover{
    background-color: #c6ebda;
}

th:hover{
    cursor: pointer;
}